#amazon {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  display: none;
  /* display: block; */
}
#navbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  padding: 10px 0px;
}
.f_list {
  display: flex;
  flex-flow: row nowrap;
  width: 100vw;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}
.f_list > .items > img {
  height: 25px;
}
.loc {
  display: flex;
  flex-flow: column nowrap;
}
.loc > p {
  font-size: 12px;
  font-weight: 300;
  margin-left: 12px;
}
.icn {
  font-size: 12px !important;
}

.loc span {
  font-size: 12px;
}
.search_bar {
  display: flex;
  flex-flow: row;
  border: 1px solid white;
  flex-basis: 40%;
  position: relative;
}
.categories {
  width: fit-content;
  display: flex;
  flex-flow: row;
  position: relative;
  align-items: center;
  border: 1px solid #e6e3d5;
  background-color: #f3f3f3;
  color: black;
  font-size: 12px;
  padding: 1px 1px 1px 5px;
}
#search {
  border: none;
  outline: none;
  width: -webkit-fill-available;
  padding: 0px 10px;
}
.sea {
  position: relative;
  border: none;
  background-color: goldenrod;
  right: 0px;
}
.opt,
.lang,
.acc_set {
  display: flex;
  flex-flow: column nowrap;
  padding: 8px 2px;
  color: black;
  width: fit-content;
  position: absolute;
  background-color: white;
  border-radius: 5px;
}
.opt li,
.lang li,
.acc_set li {
  list-style: none;
  padding: 5px 2px;
}
.opt li:hover,
.lang li:hover,
.acc_set li:hover {
  border-bottom: 1px solid rgb(231, 225, 225);
  background-color: #f3f3f3;
}
.opt {
  top: 40px;
  left: 23%;
  display: none;
}
.lang {
  top: 40px;
  right: 27%;
  display: none;
  cursor: pointer;
}
.acc_set {
  top: 40px;
  right: 18%;
  display: none;
  cursor: pointer;
}
#languages {
  width: fit-content;
  display: flex;
  flex-flow: row;
  align-items: center;
  font-size: 12px;
  padding: 1px 1px 1px 5px;
}
.Acnt {
  display: flex;
  flex-flow: column nowrap;
}
.Acnt span:first-child {
  font-size: 12px;
  font-weight: 300;
  color: rgb(220, 213, 213);
}
.Acnt span:last-child {
  color: aquamarine;
}
.order {
  display: flex;
  flex-flow: column;
}
.order span:first-child {
  font-size: 12px;
  font-weight: 300;
}
.order span:last-child {
  color: aquamarine;
}
.items {
  cursor: pointer;
}
.opt_list {
  cursor: pointer;
}
.close {
  position: absolute;
  right: 2px;
  top: 0px;
  cursor: pointer;
}
.closes {
  cursor: pointer;
}
.close:hover,
.closes:hover,
.cls:hover {
  background-color: #e6e3d5;
}

/* //////////////////////// */

.changing_pas {
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(224, 220, 220, 0.1);
  height: 200px;
  width: 250px;
  display: flex;
  position: relative;
  flex-flow: column;
  justify-content: space-around;
}

.change_pass_boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  height: 90vh;
  display: none;
}

.changing_pas > div > label {
  width: 80%;
  display: block;
  text-align: center;
}
.changing_pas > div > input {
  width: 98%;
  margin: 10px 0px;
  height: 34px;
  padding: 2px;
  outline: none;
  border: 1px solid;
  border-radius: 5px;
}
.cls {
  position: absolute;
  top: 0px;
  right: 2px;
  cursor: pointer;
}
#change_pass_btn {
  border-radius: 5px;
  height: 25px;
  display: block;
  margin: auto;
  padding: 0px 3px;
  cursor: pointer;
}
